<!-- Example: Google sign in partial -->
<a class="login-link" id="google-login-link" href="/keycloack/login">
   Key<span style="color: #eb4336">clo</span><span style="color: #fbbc06">k</span>
<!-- Example: end -->
